@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  background-color: #525252;
  margin: 10px;
  padding: 2em;
  opacity: 0;
  transform: translate(0, 50%);
  visibility: hidden;
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.card.isVisibile {
  opacity: 1;
  transform: none;
  visibility: visible;
  display: flex; 
}

.card.hovered {
  transform: scale(1.05);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.greeting {
  padding-top: 15em;
  padding-bottom: 15em;
}

.greeting span {
  color: rgb(0, 189, 202);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}
